@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Montserrat", sans-serif;
     font-optical-sizing: auto;
}

:root{
    --blue-background-color:#2E3192;
    --plans-dropdown-background-color:#1779BA;
    --dropdown-background-color:#F3F8FF;
    --menu-items-text-color: #1A1B30;
    --body-background-color:#FEFEFE;
    --body-text-color:#626374;
    --body-dark-text-color:#232438;
    --get-connection-background-color:#ED008C;
    --button-text-color:#FFFFFF;
    --form-text-color:#ABAFAE;
    --form-background-color:#F7F7F7;
    --footer-text-links-color:#6D6E94;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.fs-6{
   font-size: 1.1rem;
}
.fs-7{
    font-size: 1rem;
    font-weight: 500;
    
}
li{
        list-style: none;
}

.dropdown_list ul,
.account_dropdown_list ul
{
    padding: 0;
    margin: 0;
}

header{
    background-color: var(--blue-background-color);
    padding-left: 9.5rem;
    padding-right: 11.4rem;
}

.header-container{
    height: 3.4rem;
}

.header-contacts span, .header-buttons{
    letter-spacing: 0.02rem;
}
.dropdown_btn{
   font-size: 0.845rem;
   margin-left: 0.2rem;
}
.subdropdown_btn{
    font-size: 0.845rem;
    color: var(--plans-dropdown-background-color);
}

.manage-account{
    position: relative;
}
.manage-account .account_dropdown_list{
    position: absolute;
    background-color: var(--dropdown-background-color);
    width: 12.375rem;
    top: 125%;
    left: -9%;
    border-radius: 0.6rem;
     padding: 0.4rem 0  0.4rem 0.7rem ;
     opacity: 0;
     pointer-events: none;
     z-index: 99;
}
.manage-account li:hover .account_dropdown_list{
     opacity: 1;
     pointer-events:visible;
}

.manage-account .account_dropdown_list li{
    padding-block: 0.15rem;
}

nav{
    padding-left: 9.5rem;
    padding-right: 9.6rem;
    height: 6.5rem;
}

.logo{
    width: 12px;
    z-index: 99;
}

.hamberger-menu-icon,
.mobile-items
{
    display: none;
}

.nav_items ul {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.nav_items ul li{
    position: relative;
      
}

.nav_items ul li a{
    font-size: 0.96rem;
    font-weight: 500;
}

.dropdown_list{
 position: absolute;
 top: 110%;
 border-radius: 0.7rem;
 width: 12.375rem;
 left: -17%;
 background-color: var(--dropdown-background-color);
 opacity: 0;
 pointer-events: none;
 transition:  0.5s;
}

.nav_items .nav-link:hover .dropdown_list{
     opacity: 1;
    pointer-events: visible;
    cursor: pointer;
}

.dropdown_list ul{
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;margin: 0;

   
}

.dropdown_list ul li {
      position: relative;
      width: 12.375rem;
      
}
.dropdown_list ul li a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.48rem 0.6rem;
   
}
.background_blue:hover{
    background-color: var(--plans-dropdown-background-color);
}

.sub-dropdownlist{
    position: absolute;
    left: 100%;
    top: 0;
    border-radius: 0.7rem;
    width: 12.375rem;
    background-color: var(--dropdown-background-color);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}
.dropdown_link:hover .sub-dropdownlist{
    opacity: 1;
    pointer-events: visible;
    cursor: pointer;
}

.sub_dropdown_link{
    line-height: 1rem;
}



/* fixed HeaderNav handled by js */
.top-wrapper.fixed-topbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
}

.body-offset {
  padding-top: calc(3.4rem + 6.5rem);
}

.banner-section{
    padding-left: 9.5rem;
    padding-right: 9.6rem;
}
.banner-content{
    max-width: 100%;
}

.banner_area{
    height: 71vh;
    width: 100%;
}

.banner_area{
flex: 0 0 66%;
}
.banner_area img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* advertisementPoster */
.advertisementPoster {
    position: fixed;
    right: 0;
    top: 40%;
}
.advertisementPoster img{
    width: 2.5rem;
    height: 12.5rem;
    border-radius: 9px;
}

.form_area{
  flex: 0 0 32%; 
 border: 0.25rem solid var(--blue-background-color); 
  
}
.form_content{
    padding: 1rem;
}
.get_connection_form h4{
    color:var(--blue-background-color);
    letter-spacing: 0.03rem;
   
}
.form_content input
{
   padding: 0.8rem;
    color: var(--form-text-color) ;
    background-color: var(--form-background-color);
    font-weight: 550;
    font-size: 0.92rem;
    font-family: "Montserrat", sans-serif;
    border-radius: 0.1rem;
    border: 0;
    letter-spacing: 0;
}

.captcha_box{
    padding: 0 1rem;
    
}
.captcha_content{
    border: 0.05rem solid var(--form-text-color);
    border-radius: 2px;
    padding: 1rem 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
   background-color: var(--form-background-color);
}

.captcha_img{
    display: flex;
    align-items: center;

}
.captcha_img .smaller{
    font-size: 0.63rem; 
    color:gray;
    margin-top: 0.2rem;
    
}


.submit_btn button{
     padding: 0.8rem;
    width: 100%;
     background-color: var(--blue-background-color);
     border: 0;
     color: #fff;
     font-size: 1.1rem;
     letter-spacing: 0.01rem;
     transition :color 1.5s ease;
    
}
.submit_btn button:hover{
    background-color: #fff;
    color: var(--blue-background-color);
    border: 0.1rem solid var(--blue-background-color);
    font-weight: 500;
   
}

/* Helpline section */
.HelplineSection{
    padding-left: 9.5rem;
    padding-right: 9.6rem;
    background-color:  #f5f5f5; 
}
.helpline_wrapper{
    display: flex;
    flex-wrap: wrap;
    column-gap: 13px;
    row-gap: 0;
    justify-content: flex-start;
}
 .rectangle_box{
    background-color: var(--blue-background-color);
    color: #FFFFFF;
    font-size: 1.2485rem;
    font-weight: 500;
    padding: 0 10px;
    height: 56px;
    display: flex;
    align-items: center;
    white-space: nowrap;
   
}

/* BroadbandInYourCity */
.BroadbandInYourCity,
.entertainmentAndFullpower,
.bestBroadbandKerala,
.FAQ
{
     padding-left: 9.5rem;
    padding-right: 9.6rem;
}
.broadbandCityWrapper{
    height: 215.5px;
    background-color: var(--blue-background-color);
    color: #fff;
    padding: 3rem 2rem;
    border-radius: 29px;
}
.broadbandCityWrapper span,
.Faq_wrapper span{
    font-size: 1.94rem;
    color: var(--blue-background-color);
}
.search_wrapper{
    display: flex;
    align-items: center;
    gap: 22px;
    margin-top: 18px;
}

.search_wrapper select{
    flex: 1;
    background-color: var(--blue-background-color);
    border: none;
    outline: none;
    border-radius: 0;
    color: #fff;
    font-weight: 500;
    border-bottom: 1px solid #fff;
    height: 40.1px;
}

.search_wrapper button{
    height: 40.1px;
    width: 253.8px;
    color: #fff;
    background-color: var(--get-connection-background-color);
    border: 0;
     text-transform: uppercase;
    font-weight: 500;
}

/* entertainmentAndFullpower */
.entertainmentAndFullpower .subheading{
 font-size: 1.92rem;
  color: var(--blue-background-color);
}

.Vertical_Banaer{
     width: 22.32rem;
     height: 45.42rem;
     border-radius: 29px;
     border: 2px solid var(--blue-background-color);
     overflow: hidden;
     
}

.Vertical_Banaer img{
    width: 100%;
    height: 31.36rem;
    
    border-bottom: 2px solid var(--blue-background-color);
}

.Vertical_Banaer .plan_details{
     height: 9.06rem;
     /* width: 90%;
     margin-left: 5%;
     background-color: red; */
     border-bottom: 2px solid var(--blue-background-color);
}

.plan_details ul{
    padding: 1.2rem 1.5rem;
}

.plan_details li{
    font-weight: 500;
    font-size: 1.1rem;
    margin: 0.1rem;
}

.plan_package{
    height: 5rem;
}
.plan_package .price{
    font-weight: 500;
}
.plan_package button{
    padding: 0.6rem;
    color: #fff;
    background-color: var(--blue-background-color);
    border: 0;
    outline: 0;
    font-weight: 500;
}

 .termConditonBtn{
    padding: 0.7rem 1.2rem;
    font-size: 1.2rem;
     color: #fff;
    background-color: var(--blue-background-color);
    border: 0;
    outline: 0;
    font-weight: 500;
    /* margin: 0 auto;  */
    /* it only works when element is pure block and buttton is inline-block so to use it we need to make display:block */
}


/* bestBroadbandKerala */
 .heading{
    color: var(--blue-background-color);
    font-size: 2rem;
}

.bestBroadbandKerala p,
.faq_answer p{
    font-size: 1.16rem;
    font-weight: 500;
    color: var(--body-text-color);
}
.bestBroadbandKerala button{
    height: 45.11px;
    width: 153.29px;
    background-color: var(--blue-background-color);
    color: #fff;
    font-weight: 500;
    border: 0;
   
}

/* FAQ section */
.faq_question{
    width: 100%;
    padding: 1rem;
    background: none;
    border: 0.01px solid rgb(223, 218, 218);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    outline: none;
}
.faq_question:hover{
    background-color: #e6e6e6;
}
.faq_question span{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2rem;
    text-align: left;
}

.faq_answer{
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.35s ease-in-out;
}
.faq_answer p{
padding: 1rem;
margin: 0;
border: 0.01px solid rgb(223, 218, 218);
}

.faq_toggle_btn{
    color: var(--blue-background-color);
   font-size: medium;
   transition: 0.35s ease-in-out;
}

.faq-item.open .faq_answer{
    max-height: 500px;
}

.faq-item.open .faq_toggle_btn::before{
   content: "\f068";
}


/* footer */
footer{
    padding-left: 9.5rem;
    padding-right: 9.6rem;
    background-color: var(--dropdown-background-color);
}

.footer_logo{
    width: 8.81rem;
    height: 7.18rem;
    margin: 0 auto;
}

.footer_logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.footer_links{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1.8rem;
    
}


.footer_col h4,
.footer_col h6{
    margin: 0;
    padding-block: 0.6rem;
}

.footer_col a{
    color: var(--footer-text-links-color);
    font-size: 1rem;
    font-weight: 500;
    display: block;
    line-height: 1rem;
    padding-block: 0.4rem;
}

.social_links{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
}

.copyright{
 padding-left: 9.5rem;
padding-right: 9.6rem;
}

.copyright_container{
    display: grid;
   grid-template-columns: 1fr auto;
}

.terms_conditions small{
   display: block;
}

.copyright_content span,
.terms_conditions span,
.terms_conditions small{
    color: var(--footer-text-links-color);
    font-weight: 500;
}

.copyright_content span,
.terms_conditions span{
    font-size: 1.1rem;
}

.terms_conditions small{
    font-size: 0.94rem;
}

/* media query */
@media screen and (max-width:1212px){
    header{
    padding-left: 1rem;
    padding-right: 2.4rem;
    }

    .header-buttons .payment a,
    .header-buttons .manage-account li a{
        font-size: 0.91rem;
    }

    nav,
    .banner-section,
    .bestBroadbandKerala,
    .entertainmentAndFullpower,
    .BroadbandInYourCity,
    .FAQ,
     footer,
    .copyright
    {
    padding-left: 1rem;
    padding-right: 1rem;
    }

    nav{
         padding-bottom: 0.5rem;
    }


    .helpline_wrapper{
        justify-content: center;
    }



}

@media screen and (max-width:1140px){
 header .header-contacts .watsapp-number{
        display: block;
    }

    .copyright_content .reserved_{
        display: block;
    }
}
@media screen and (max-width:1024px){
header{
        height: 4.3rem;
}
.header-container{
    display: flex;
    flex-direction: column;
   margin: 0 auto;
   align-items: center;
   text-align: center;
    transition:transform .5s;
  }
  .header-container.drag{
    transform: translateX(-250px);
  }

   header .header-contacts span{
    font-size: 0.92rem;
    font-weight: 500;
   }

  header .header-contacts .watsapp-number{
        display: inline-block;
    }

    .logo{
       transition:transform .5s;
       }
    .logo.drag{
         transform: translateX(-250px);
    }

    .logo img{
        width: 9.37rem;
        height: 5.79rem;
    }

    .nav_items{
        display: none;
    }

    .hamberger-menu-icon{
        display: block;
        cursor: pointer;
        letter-spacing: 0.01rem;
        transition:transform .5s;
    }
    .MENU{
        font-size: 0.99rem;
        font-weight: 500;
        color: var(--blue-background-color);
    }
    .ri-menu-2-fill{
        color: #232438;
    }

    .nav-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }

    /* mobile nav items */
    .mobile-items{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 240px;
        background-color: var(--blue-background-color);
        height: 100vh;
         transform: translateX(100%);
        transition:transform .5s;
    }
    .mobile-items.openPanel{
        transform: translateX(0);
    }

    .hamberger-menu-icon.drag{
        transform: translateX(-250px);
    }

    .mobile-items ul{
        margin: 0;
        padding:1.5rem 1.4rem;
    }

    .mobile-items li{
     padding-block: 0.5rem;
    }
     .mobile-items li a{
        font-weight: 500;
     }

     .dropdown_content ul{
        margin: 0;
        padding: 0;
     }
    .mobile_dropdown_list{
      height: 0;
      overflow: hidden;
      transition: .5s height;
    }
    .mobile_dropdown_list li{
        padding: 0.8rem 0.95rem 0 0.95rem;
        line-height: 1rem;
    }
    


    /* banner */

    .banner-section .banner-content{
        display: flex;
        flex-direction: column;
    }
    .banner_area{
    width: 100%;
    height: auto;
    }
    .form_area{
        width: 100%;
        height: auto;
    }

    /* payyourBill section */
    .HelplineSection{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .helpline_wrapper{
        flex-direction: column;

    }
    .rectangle_box{
    width: 100%;
    justify-content: center;

    }


    .Vertical_Banaer{
     width: 28.88rem;
    }
    .Vertical_Banaer img{
     width: 100%;
    }

    /* BroadbandInYourCity */
    .broadbandCityWrapper{
        height: 280.5px;
        padding: 2rem;

    }
    .search_wrapper{
    flex-direction: column;
      gap: 32px;
      margin-top: 22px;
     
    }

    .search_wrapper select,
    .search_wrapper .search-btn{
        width: 100%;
    }

    .heading{
        font-size: 1.5rem;
    }


    /* footer and copyright */
    .footer_links{
        grid-template-columns: 1fr;
        text-align: center;
        gap: 0;
    } 
    .social_links{
        justify-content: center;
    }

    .copyright_container{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .copyright_container .reserved_{
        display: inline-block;
    }
}

@media screen and (max-width:772px){
    header{
        height: 5.35rem;
    }
}



@media screen and (max-width:784px){
 .broadbandCityWrapper{
        height: 323.9px;
        }

        .nav-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        nav{
        height: 4rem;
       padding-bottom: 0.5rem;
        }

    .logo img{
        width:5.812rem;
        height:3.590rem;
    } 

}



@media screen and (max-width:639px){
 .broadbandCityWrapper{
        height: 263.7px;
}

.broadbandCityWrapper span{
    font-size: 19px;
}

.Vertical_Banaer{
     width: 36.69rem;
    height: 66.11rem;
}
.Vertical_Banaer img{
    height: 51.55rem;
}
.plan_package{
    height: 5.5rem;
}
}

@media screen and (max-width:517px){
 .broadbandCityWrapper{
        height: 290.3px;
}

.Vertical_Banaer{
     width: 29.07rem;
    height: 55.4rem;
}

.Vertical_Banaer img{
     width: 100%;
    height: 40.84rem;

}
}

@media screen and (max-width:416px) {
      header{
        height: 6.47rem;
        
    }
}

@media screen and (max-width:309px) {
      header{
        height: 8rem;
        
    }
}


@media screen and (max-width:370px){

     nav{
        height: 2.96rem;
       padding-bottom: 0.5rem;
        }

    .logo img{
        width:4rem;
        height:2.47rem;
    } 

 .broadbandCityWrapper{
        height: 316.9px;
}

.Vertical_Banaer{
     width: 19.82rem;
    height: 42.4rem;
}

.Vertical_Banaer img{
     width: 100%;
    height: 27.84rem;

}

}